.App {
  text-align:left
}

.main-nav {
  background-color:#3D9970;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 4em;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.main-nav a {
  text-decoration: none;
  color: aliceblue;
  font: 20x;
  margin-left: 90px;
}

.card {
  max-width: 500px;
  max-height: 380px;
  border-radius: 17px;
  background-color: #3D9970;
  cursor: pointer;
  transition: all 0.4s;
  padding-left:15px;
  margin: 4px;
}

.card:hover {
  opacity: 0.9;
}



.card .info-wrapper {
  padding: 1em;
}


